@font-face {
    font-family: 'EtelkaMediumProRegular';
    src: url('../fonts/etelka-medium-pro_16169.eot');
    src: url('../fonts/etelka-medium-pro_16169.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-medium-pro_16169.woff2') format('woff2'),
         url('../fonts/etelka-medium-pro_16169.woff') format('woff'),
         url('../fonts/etelka-medium-pro_16169.ttf') format('truetype'),
         url('../fonts/etelka-medium-pro_16169.svg#EtelkaMediumProRegular') format('svg');
         font-weight: normal;
    	 font-style: normal;
}
@font-face {
    font-family: 'EtelkaTextProBold';
    src: url('../fonts/etelka-text-pro-bold_16185.eot');
    src: url('../fonts/etelka-text-pro-bold_16185.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-text-pro-bold_16185.woff2') format('woff2'),
         url('../fonts/etelka-text-pro-bold_16185.woff') format('woff'),
         url('../fonts/etelka-text-pro-bold_16185.ttf') format('truetype'),
         url('../fonts/etelka-text-pro-bold_16185.svg#EtelkaTextProBold') format('svg');
         font-weight: normal;
    	 font-style: normal;
}
@font-face {
    font-family: 'EtelkaNarrowTextProRegular';
    src: url('../fonts/etelka-narrow-text-pro.eot');
    src: url('../fonts/etelka-narrow-text-pro.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-narrow-text-pro.woff2') format('woff2'),
         url('../fonts/etelka-narrow-text-pro.woff') format('woff'),
         url('../fonts/etelka-narrow-text-pro.ttf') format('truetype'),
         url('../fonts/etelka-narrow-text-pro.svg#EtelkaNarrowTextProRegular') format('svg');
         font-weight: normal;
    	 font-style: normal;
}




a{text-decoration:none; color:#000000;}
a:hover{text-decoration:none;}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0;  } 
/* remember to define focus styles! */ 
:focus {outline: 0;} 
body {margin: 0 auto;line-height: 1;color: black;position: relative; font-family: EtelkaNarrowTextProRegular,Arial; } 
ol, ul {list-style: none;} 
/* tables still need cellspacing="0" in the markup */ 
table {border-collapse: separate;border-spacing: 0;} 
caption, th, td {font-weight: normal;text-align: left;} 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after {content: "";} 
blockquote, q {quotes: "" "";} 
/*
div {
	width: 200px;
	height: 100px;
	background: red;
	margin: 100px;
	border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    behavior: url(PIE.htc);
}*/
html,body {
	height: 100%;
}
.wrapper_top_nav {
	width: 100%;
	height: 25px;
	background: #160e03;
	padding: 5px 0 0;
	border: none;
}
.wrapper_top_nav .top_nav {
	width: 982px;
	margin: 0 auto;
}
.wrapper_top_nav .top_nav ul li {
	float: left;
	margin: 0 0 0 38px;
	position: relative;
}
.wrapper_top_nav .top_nav ul li a {
	display: inline-block;
	color: #fff;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	 opacity: 0.35;
	text-transform: uppercase;
	font: 12px EtelkaNarrowTextProRegular,Arial;
}
.wrapper_top_nav .top_nav ul li a:hover {
	color: #fff;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	 opacity: 1;
}
.wrapper_top_nav .top_nav ul li:before {
	content: '';
	width: 7px;
	height: 7px;
	background: url(../images/top_menu_separator.png) no-repeat 0 0;
	position: absolute;
	top: 5px;
	left: -22px;
}
.wrapper_top_nav .top_nav ul li:first-child {
	margin: 0 0 0 240px;
}
.wrapper_top_nav .top_nav ul li:first-child:before {
	display: none;
}
.wrapper_top_nav .top_nav .group_company {
	float: right;
	font: 12px EtelkaNarrowTextProRegular,Arial;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	opacity: 0.35;
	color: #fff;
	text-decoration: underline;
	margin: 2px -85px 0 0;
}
.wrapper_top_nav .top_nav .footer_copy {
	float: left;
	font: 12px EtelkaNarrowTextProRegular,Arial;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	opacity: 0.35;
	color: #fff;
	text-decoration: underline;
	margin: 2px -85px 0 0;
}
.bottom_bg_line {
	overflow: hidden;
	height: 13px;
	margin: -3px 0 0;
}
.bottom_bg_line img {
	width: 100%;
}
.wrapper_header {
	width: 100%;
	height: 129px;
	background: url(../images/wrapper_header_bg.png) repeat-x 0 0;
	margin: 0 auto;
}
.wrapper_header .all_menu {
	margin: 0 0 0 10px;
}
.wrapper_header .header {
	width: 982px;
	margin: 0 auto;
}
.wrapper_header .header .logo {
	float: left;
	margin: 7px 0 0 50px;
}
.wrapper_header .header .header_number {
	font: 22px EtelkaTextProBold,Arial;
	color: #53b948;
	float: left;
	margin: 50px 0 0 59px;
}
.wrapper_header .header .header_city {
	font-size: 14px;
	color: #726c64;
	float: left;
	margin: 57px 0 0 10px;
}
.wrapper_header .menu {
	width: 947px;
	height: 133px;
	background: url(../images/menu_bg.png) no-repeat 0 0;
	float: left;
	margin: -69px 0 -41px 0;
	position: relative;
	z-index: 11;
}
.wrapper_header .menu .level2 {
	display: none;
}
.wrapper_header .menu .level1 {
	margin: 100px 0 0;
	z-index: 11;
	position: relative;
}
.wrapper_header .menu ul li {
	float: left;
	margin: 0 0 0 60px;
	margin: 0 0 0 34px\0/;
	padding-bottom: 17px;
	word-spacing: 5px;
}
:root .wrapper_header .menu ul li {
	margin: 0 0 0 60px\0/;
}
.wrapper_header .menu ul li a {
	position: relative;
}
.wrapper_header .menu ul li a:before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../images/menu_separator.png) no-repeat 0 0;
	position: absolute;
	top: 0px;
	left: -36px;
	left: -24px \0/;
}
:root .wrapper_header .menu ul li a:before {
	left: -36px \0/;
}
.wrapper_header .menu ul li:first-child a:before {
	display: none;
}
.wrapper_header .menu ul li:first-child {
	margin: 0 0 0 30px;
}
.wrapper_header .menu ul li .children1 {
	color: #fff;
	font: 15px EtelkaNarrowTextProRegular,Arial;
	text-transform: uppercase;
}
.wrapper_header .header .level2 {
	width: 970px;
	height: 76px;
	border: 3px solid #39b54a;
	margin: 0 0 0 -17px;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: none;
    float: left;
    position: absolute;
    top: 160px;
    background: #fff;
}
.wrapper_header .header .level2 ul {
	display: none;
}
.wrapper_header .header .level2 li {
	float: left;
	margin: 50px 0 0 30px;
	position: relative;
}
.wrapper_header .header .level2 li:before {
	content: '';
	background: url(../images/level2_separator.png) no-repeat 0 0;
	width: 7px;
	height: 7px;
	position: absolute;
	left: -19px;
	top: 5px;
}
.wrapper_header .header .level2 li:first-child {
	margin-left: 22px;
}
.wrapper_header .header .level2 li:first-child:before {
	display: none;
}
.wrapper_header .header .level2 li a {
	color: #8cadae;
	font: 16px EtelkaNarrowTextProRegular,Arial;
	text-transform: uppercase;
}
.wrapper_header .header .level2 li a:hover,
.wrapper_header .header .level2 li a.active {
	color: #39b54a;
}
.top_header {
	position: relative;
	z-index: 20;
}
.top_header:after {
	content: '';
	display: block;
}
.main_slider {
	width: 1280px\0/;
	margin: 0 auto\0/;
	margin: 0 auto;
	min-height: 519px !important;
	overflow: hidden;
	background: url(../images/main_slide_bg.png) no-repeat top center;
	/*background-size: cover;*/
	max-width: 1900px;
}
:root .main_slider {
width: 100%\0/;
margin: 0\0/;
}
/* Tiny Carousel */
#slider1 { height: 375px; overflow:hidden; margin: 83px auto 0; width: 982px;position: relative;}
#slider1 .viewport { float: left; width:816px; height: 375px; overflow: hidden; position: relative; margin: 0 83px;}
#slider1 .buttons {
    background: url(../images/buttons_main_slider.png) no-repeat 0 0;
    display: block;
    width: 38px;
    height: 72px;
    position: absolute;
    top: 145px;
    text-indent: 50000000px;
}
#slider1 .overview li a:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
#slider1 .prev {
	left: 0;
}
#slider1  .next {
	background-position: 0 -73px;
	right: 0;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 51px 0 0; height: 375px; width: 238px; position: relative;}
#slider1 .overview li a {
	width: 201px;
	height: 43px;
	background: url(../images/main_slide_detail.png);
	color: #fff;
	font: 17px/46px EtelkaMediumProRegular;
	text-align: center;
	position: absolute;
	left: 17px;
	bottom: 25px;
	text-transform: uppercase;
}
.wrapper_block_about {
	min-height: 307px;
	width: 100%;
	background: #f2efea;
}
.wrapper_block_about .block_about {
	padding: 60px 0 0;
	width: 982px;
	margin: 0 auto;
}
.wrapper_block_about .block_about .title {
	font: 26px EtelkaMediumProRegular;
	color: #383838;
	margin: 0 0 30px;
	text-align: center;
}
.wrapper_block_about .block_about p {
	font: 16px/25px Arial;
	color: #383838;
	margin: 0 auto 25px;
	widows: 800px;
	text-align: center;
}
.wrapper_block_about .block_about a {
	display: block;
	width: 201px;
	height: 43px;
	margin: 21px auto 0;
	background: url(../images/block_about_link.png) no-repeat 0 0;
	color: #383838;
	font: 18px/43px EtelkaMediumProRegular;
	text-align: center;
}
.wrapper_block_about .block_about a:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.wrapper_bl_news {
	width: 100%;
	background: #fff;
	padding: 0 0 20px;
}
.wrapper_bl_news .bl_news {
	width: 982px;
	margin: 0 auto;
	padding: 70px 0 0;
}
.wrapper_bl_news .bl_news ul {
	margin: 0 0 30px;
	overflow: hidden;
}
.wrapper_bl_news .bl_news ul:after {
	content: '';
	display: block;
}
.wrapper_bl_news .bl_news ul li {
	float: left;
	width: 280px;
	margin-left: 45px;
}
.wrapper_bl_news .bl_news ul li:first-child {
	margin: 0;
}
.wrapper_bl_news .bl_news ul li .date {
	font: 17px EtelkaMediumProRegular;
	color: #383838;
	margin: 0 0 10px;
}
.wrapper_bl_news .bl_news ul li .desc {
	font: 14px/23px Arial;
	color: #37b54a;
	text-decoration: underline;
	width: 260px;
}
.wrapper_bl_news .bl_news ul li .desc:hover {
	text-decoration: none;
	color: #383838;
}
.wrapper_bl_news .bl_news .page_news_link {
	display: block;
	width: 155px;
	height: 35px;
    color: #37b54a;
    text-align: center;
    background: url(../images/page_news_link.png);
    font: 17px/35px EtelkaMediumProRegular;
    margin: 0 auto;
}
.wrapper_bl_news .bl_news .page_news_link:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.contact_block {
	min-height: 100%;
}
.contact {
	color: #383838;
	max-width: none;
	min-height: 100%;
	height: 100%;
	margin-bottom: -40px;
}
h1 {
	color: #383838;
	font: 34px EtelkaMediumProRegular;
	text-align: center;
	margin: 20px 0 25px;
}
.contact h1 {
	font: 34px EtelkaMediumProRegular;
	text-align: center;
	margin: 95px 0 40px;
}
.contact .adress {
	text-align: center;
	font-size: 16px;
}
.contact .telephone {
	font-size: 20px;
	text-align: center;
	margin: 20px 0 35px;
}
.contact .map {
	position: absolute;
	left: 0;
	right: 0;
	top: 400px;
	bottom: 40px;
}
.contact .map:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 14px;
	z-index: 10;
	display: block;
	content: '';
}
.partners {
	width: 982px;
	margin: 0 auto;
	padding: 0 0 42px;
}
.breadcrumbs {
	margin: 90px 0 0;
	color: #c5d1d7;
	font: 14px Arial;
}
.projects .breadcrumbs {
	margin-top: 90px;
}
.breadcrumbs a {
	color: #c5d1d7;
	font: 14px Arial;
	text-decoration: underline;
}
.breadcrumbs a:hover {
	text-decoration: none;
	color: #383838;
}
.breadcrumbs .separator {
	display: inline-block;
	margin: 0 4px;
}
.block_text {
	width: 920px;
	margin: 0 auto 40px;
	color: #383838;
	font: 16px/25px Arial;
	text-align: center;
}
.partners .all_partners {
	overflow: hidden;
}
.partners .all_partners .one_partner {
	width: 257px;
	height: 257px;
	border: 10px solid #f2efea;
	float: left;
	margin: 0 0 45px 75px;
}
.partners .all_partners .line_partner .one_partner:first-child {
	margin: 0;
}
.partners .all_partners .one_partner img {
	display: block;
	margin: 40px auto 25px;
	max-width: 220px;
	max-height: 100px;
}
.partners .all_partners .one_partner p {
	width: 200px;
	margin: 0 auto 15px;
	text-align: center;
    font: 17px/14px EtelkaMediumProRegular;
	color: #383838;
}
.partners .all_partners .one_partner a {
	display: block;
	text-align: center;
	font: 14px Arial;
	color: #37b54a;
	text-decoration: underline;
}
.partners .all_partners .one_partner a:hover {
	text-decoration: none;
	color: #383838;
}
.news {
	width: 982px;
	margin: 0 auto;
	padding: 0 0 42px;
}
.pager {
	overflow: hidden;
	margin: 0 0 15px;
}
.pager .pager_title {
	display: inline-block;
	font-size: 20px;
	color: #3e3e3e;
	margin: 0 4px 0 0;
}
.pager .page_current {
	font-size: 20px;
	color: #39b54a;
	margin: 0 7px 0;
	display: inline-block;
}
.pager a {
	color: #c5d1d7;
	display: inline-block;
	text-decoration: underline;
	margin: 0 7px 0;
	font-size: 20px;
}
.pager a:hover {
	text-decoration: none;
	color: #39b54a;
}
.news .all_news {
	width: 100%;
	padding: 30px 0 0;
}
.dbl_border {
	width: 100%;
	height: 1px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.news .all_news .one_news {
	overflow: hidden;
	margin: 0 0 35px;
}
.news .all_news .one_news .news_date {
	color: #9db3aa;
	font-size: 17px;
	margin: 0 0 10px 4px;
}
.news .all_news .one_news .news_image {
	float: left;
	width: 240px;
	padding: 0 0 0 2px;
}
.news .all_news .one_news .news_cont {
	margin-left: 8px;
}
.news .all_news .one_news .news_cont .title {
	display: block;
	margin: 5px 0 20px;
	font-size: 17px;
	color: #39b54a;
	text-decoration: underline;
}
.news .all_news .one_news .news_cont .title:hover {
	text-decoration: none;
	color: #383838;
}
.news .all_news .one_news .news_cont p {
	color: #bbbbbb;
	font-size: 17px;
	line-height: 22px;
}
.news_with_img .news_cont {
	float: left;
	width: 700px;
}
.pager_bottom {
	margin: 25px 0 100px;
}
.buildings .partners {
	padding-bottom: 155px;
}
.buildings h1 {
	width: 550px;
	margin: 0 auto 21px;
}
.buildings .breadcrumbs {
	margin-top: 120px;
}
.buildings .page_title {
	text-align: center;
	margin: 20px 0 15px;
}
.buildings .all_buildings {
	width: 982px;
	margin: 0 auto;
}
.buildings .all_buildings:after {
	content: '';
	display: block;
	clear: both;
}
.wrapper_one_building {
	height: 365px;
	width: 434px;
	position: relative;
	z-index: 1;
	margin: 0 0 20px;
	overflow: hidden;
}
.buildings .all_buildings .one_building {
	padding: 0 23px;
	overflow: hidden;
	background: #f2efea;
	position: relative;
	z-index: 2;
}
.wrapper_one_building:hover {
	z-index: 25;
	overflow: inherit;
}
.buildings .all_buildings .one_building .project_name {
	color: #383838;
	font: 26px EtelkaMediumProRegular;
	margin: 40px 0 15px;
}
.buildings .all_buildings .one_building .project_name span {
	color: #a5a4a1;
	font: 14px EtelkaMediumProRegular;
}
.buildings .all_buildings .building_col1 {
	float: left;
}
.buildings .all_buildings .building_col2 {
	float: right;
}
/* FlexSlider Default Theme
*********************************/
.buildings .flexslider { margin: 0 0 60px; background: #fff; border: 13px solid #fff; position: relative; }
.buildings .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.buildings .loading .flex-viewport { max-height: 300px; }
.buildings .flexslider .slides { zoom: 1; }
.buildings .carousel li { margin-right: 5px; }

/* Control Nav */
.buildings .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.buildings .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.buildings .flex-control-paging li a {width: 15px; height: 15px; display: block; background: url(../images/building_slider_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px; 
	 }
.buildings .flex-control-paging li a:hover { background-position: 0 -16px; }
.buildings .flex-control-paging li a.flex-active { background-position: 0 -16px;  cursor: default; }

.buildings .all_buildings .one_building .total_s li {
	font: 15px EtelkaMediumProRegular;
	color: #383838;
	margin: 0 0 8px;
}
.buildings .all_buildings .one_building .total_s .last {
	margin: 0 0 20px;
}
.buildings .build_dbl_border {
	height: 1px;
	border-top: 1px solid #c2bfbb;
	border-bottom: 1px solid #c2bfbb;
	width: 100%;
}
.buildings .all_buildings .one_building .build_desc {
	font: 16px/24px EtelkaNarrowTextProRegular;
	color: #383838;
	margin: 17px 0;
}
.buildings .all_buildings .one_building .total_price_build {
	text-align: center;
	font-size: 23px;
	color: #383838;
	margin: 25px 0 20px;
}
.buildings .all_buildings .one_building.active {
	height: inherit;
}
.buildings .all_buildings .first_build_row {
	margin-right: 20px;
	float: left;
}
.buildings .all_buildings:after {
	content: '';
	display: block;
}
.buildings .build_dbl_border_last {
	margin: 27px 0 40px;
}
h2 {
	color: #383838;
	font: 27px EtelkaNarrowTextProRegular;
	width: 780px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 40px;
}
.buildings_list {
	overflow: hidden;
}
.buildings_list li {
	float: left;
	width: 480px;
	margin-right: 20px;
	margin-bottom: 30px;
	color: #383838;
	font: 15px/22px EtelkaNarrowTextProRegular;
}
.buildings_list .list_second_li {
	margin-right: 0;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../images/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
/* Title helper */
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

.wrapper_bot_slider {
	background: url(../images/wrapper_header_bg.png) repeat-x 0 bottom #f2efea ;
	width: 100%;
	height: 252px;
	padding-top:37px;
	overflow: hidden;
}
.wrapper_bot_slider .bot_slider {
	width: 982px;
	position: relative;
	margin: 0 auto;
}



.wrapper_bot_slider .bot_slider .flexslider { border: 13px solid #fff; position: relative; width: 763px; margin: 0 auto ; background: #f2efea;}
.wrapper_bot_slider .bot_slider .flex-viewport { max-height: 2000px; }
.wrapper_bot_slider .bot_slider .loading .flex-viewport { max-height: 300px; }
.wrapper_bot_slider .bot_slider .flexslider .slides { zoom: 1; }
.wrapper_bot_slider .bot_slider .carousel li { margin-right: 5px; width: 300px; }

/* Direction Nav */
.wrapper_bot_slider .bot_slider .flex-direction-nav {*height: 0;}
.wrapper_bot_slider .bot_slider .flex-direction-nav a  { background: url(../images/buttons_main_slider.png) no-repeat 0 0;
    display: block;
    width: 38px;
    height: 72px;
    position: absolute;
    top: 60px;
    text-indent: 50000000px; }
.wrapper_bot_slider .bot_slider .flex-direction-nav .flex-prev { left: -120px; opacity: 1; text-indent: 500000px;}
.wrapper_bot_slider .bot_slider .flex-direction-nav .flex-next { right: -120px; text-align: right; opacity: 1; background-position: 0 -73px; text-indent: 500000px;}

.wrapper_bot_slider .bot_slider .bot_slide_link {
	float: left;
	width: 431px;
}
.wrapper_bot_slider .bot_slider .bot_slide_link img {
	width: 100%;
}

.wrapper_bot_slider .bot_slider .bot_slide_content {
	float: left;
	width: 255px;
	padding: 30px 25px 0 25px;
}
.wrapper_bot_slider .bot_slider .bot_slide_content a {
	font: 19px/23px EtelkaMediumProRegular;
	color: #383838;
	text-decoration: underline;
	margin: 0 0 10px;
}
.wrapper_bot_slider .bot_slider .bot_slide_content a:hover {
	text-decoration: none;
	color: #37b54a;
}
.wrapper_bot_slider .bot_slider .bot_slide_content p {
	color: #383838;
	font: 14px/21px Arial;
}
.all_projects {
	overflow: hidden;
}
.all_projects .one_project {
	width: 456px;
	height: 233px;
	float: left;
	border: 13px solid #f2efea;
	overflow: hidden;
	position: relative;
	margin: 0 0 20px;
}
.all_projects .one_project a .project_bg {
	background: url(../images/project_bg.png) no-repeat -13px -13px;
	position: absolute;
	top: 0;
	left: 0;
	width: 489px;
	height: 259px;
}
.all_projects .one_project a h4 {
	font: 26px/36px EtelkaMediumProRegular;
	color: #fff;
	position: absolute;
	z-index: 6;
	top: 100px;
	left: 88px;
	width: 257px;
	max-width: 257px;
	text-align: center;
	border-bottom: 5px double #fff;
}
.all_projects .one_project a:hover .project_bg {
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: 0.6;
}


.modal .flexslider { background: #fff; position: relative; width: 568px; float: right; margin: 0 38px 0 0;}
.modal .flex-viewport { margin: 0 0 12px; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.modal .loading .flex-viewport { max-height: 300px; }
.modal .flexslider .slides { zoom: 1; }
.modal .carousel li { margin-right: 5px; }


.modal .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden; height: 63px;}
.modal .flex-control-thumbs li {width: 63px; height: 63px; float: left; margin: 0 18px 0 0;}
.modal .flex-control-thumbs img {width: 63px; height: 63px; display: block; cursor: pointer;}
.modal .flex-control-thumbs img:hover {opacity: 1;}
.modal .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.modal_all_bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	visibility: hidden;
	background: rgba(16,30,18,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50101e12,endColorstr=#50101e12);
	z-index: 111;

}
.modal {
	display: block;
	visibility: hidden;
	position: fixed;
	width: 978px;
	height: 538px;
	overflow: hidden;
	z-index: 112;
	background: #fff;
	padding: 70px 0 0;
}
.modal .modal_content {
	width: 278px;
	float: left;
	margin: 0 0 0 43px;
}
.modal .modal_content h5 {
	font: 26px/36px EtelkaMediumProRegular;
	color: #393939;
	text-align: center;
	margin: 0 0 10px;
}
.modal .modal_content p {
	font: 15px/23px Arial;
	color: #383838;
	margin: 30px 0;
	max-height: 380px;
	overflow: hidden;
}
.modal .build_dbl_border {
	height: 1px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.modal .modal_close {
	width: 25px;
	height: 25px;
	background: url(../images/modal_close.png);
	position: absolute;
	top: 21px;
	right: 25px;
	cursor: pointer;
}
.projects .build_dbl_border1 {
	height: 1px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 70px 0 40px;
}
.projects .one_project:nth-child(2n+1)  {
	margin-right: 15px;
}
.partners .breadcrumbs {
	margin-top: 90px;
}
.footer_cont {
	width: 100%;
	height: 40px;
	margin: -40px 0 0;
}