@font-face {
    font-family: 'EtelkaNarrowTextProRegular';
    src: url('etelka-narrow-text-pro.eot');
    src: url('etelka-narrow-text-pro.eot') format('embedded-opentype'),
         url('etelka-narrow-text-pro.woff2') format('woff2'),
         url('etelka-narrow-text-pro.woff') format('woff'),
         url('etelka-narrow-text-pro.ttf') format('truetype'),
         url('etelka-narrow-text-pro.svg#EtelkaNarrowTextProRegular') format('svg');
}
